:root {
  --preto-escuro: ;
  --preto: ;
  --preto-claro: ;
  --branco: ;
  --branco-claro: ;
  --cinza-claro: ;
  --cinza: ;
  --cinza-escuro: ;
  --cinza-mais-escuro: ;
  --laranja: #e09b6b;
  --laranja-escuro: #b9672d;
  --verde-escuro: #0e301c;
  --verde: #07734b;
  --verde-claro: #34a853;
}
